*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    display: flexbox;
    overflow:hidden;

}
header,footer
{

    width: 100%;
    height: 1.5cm;
    padding-top: 0.5cm;
    text-align: center;
     background:linear-gradient(to right, #6ca8f1,#F5a6c8);
     color: white;
    
}
header > img
{
    width: 60px;
    align-items: center;
    margin-left: 10cm;
    margin-top: -1.2cm;
   
}
#back {
    position: fixed;
    left: 0;       
    top: 0;        
    margin: 10px;
    padding-left: 1cm;
    transition: 0.3s;
}
#back:hover
{
    scale: 1.4;
}
/* lewa */
nav
{
    display:grid;
    width: 20%;
}
aside, nav>a , nav>form
{
    padding: 1cm;
    
    background-color:rgb(132, 195, 247);
    text-align: center;
    font-size: 0.5cm;
    color: white;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

nav > form > label
{
    font-family:'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
nav > form > input
{
    border: 3px solid rgb(0, 47, 255);
    width: 5cm;
    height: 0.7cm;
    border-radius: 20px;
    transition: 0.3s;
}
nav > form > input:focus
{
    border: 3px solid rgb(180, 0, 252);
    padding-inline-start: 20px;
    padding-inline-end: 4cm;
    outline: none;
    
}
nav > form > button
{
    background-color: rgb(84, 116, 223);
    border: 2px solid white;
    color: white;
    height: 1cm;
    width: 4cm;
    margin-top: 0.5cm;
    border-radius: 20px;
    font-weight: bolder;
    

}
nav > form > button:hover
{
    background-color: blue;
    scale: 1.2;
}
/* prawa */
main
{
    background-color: #F5a6c8;
    float: right;
    width: 80%;
    overflow: auto;
  
    
}
#pracownicy,#uslugi,#klienci
{
    
    margin: auto;
    width: 80%;
    overflow: auto;
      padding: 1cm;
}
table,td,tr,th
{
    padding: 0.5cm;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
  
}
tr
{
    background-color: #ec8db6;
    text-align: center;
      color: white;
}
td,table
{ border: 2px solid white;
}
th
{
    background-color: #6ca8f1;
    border: 1px solid white;
}

tr:nth-last-child(even)
{
    background-color:skyblue;
}

#uslugi
{
    display: none;
}

footer > p
{
    float: left;
    padding: 0.3cm;
    padding-left: 20px;
}
.kontener
{
    display: flex;
}


.pracownicy, .uslugi, nav>a {
    background-color: rgb(132, 195, 247);
    border-right: none;
}



.pracownicy:hover,
.uslugi:hover,
nav>a:hover {
    background-color: rgba(29, 141, 234, 1);
    border-right: 5px solid #ff4b99ff;
}