*
{
    margin: 0;
    padding: 0;
}
div {
    padding: 1cm;
  width: 40%;
  margin: 0 auto;
}
table,td,th
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 0.2cm;
    font-size: 0.5cm;
}
th
{
    background-color: aqua;
  
}
form
{
    text-align: center;
    margin-left: -2cm;
    font-size: 20px;
}
button
{
    height: 30px;
    width: 50px;
    font-size: 15px;
}
input
{
    border: 2px solid black;
    height: 0.5cm;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 97, 176);
    color: rgb(0, 0, 0);
    text-align: center;
}
body
{
    background-color: rgb(210, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
button
{
    background-color: rgb(0, 170, 255);
    border: 1px solid rgb(0, 170, 255) ;
    border-radius: 20%;
    color: white;
    width: 90px;
    height: 30px;
}