*
{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html,body
{
  height: 100%;
}
header
{
    padding-top: 1.5cm;
    text-align: center;
    width: 100%;
    height: 1.5cm;
     background: linear-gradient(to right, #0077b6, #00b4d8);
}


@font-face {
  font-family: 'Coolvetica Regular';
  src: url('fonts/Coolvetica-Rg.otf') format('opentype');
}

@font-face {
  font-family: 'Coolvetica Italic';
  src: url('fonts/Coolvetica-Rg-It.otf') format('opentype');
}

@font-face {
  font-family: 'Coolvetica Condensed';
  src: url('fonts/Coolvetica-Rg-Cond.otf') format('opentype');
}

@font-face {
  font-family: 'Coolvetica Cram';
  src: url('fonts/Coolvetica-Rg-Cram.otf') format('opentype');
}

@font-face {
  font-family: 'Coolvetica Heavy';
  src: url('fonts/Coolvetica-Hv-Comp.otf') format('opentype');
}
header >h1
{
    margin-top: 0.3cm;
    font-family: 'Coolvetica Cram', sans-serif;
    background-color: #006296;
    border-bottom: 3px solid #0077b6;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.24);
    color: white;
    
;
}
li
{
    display:inline;
    height: 0.5cm;
 

}
li > a {
  text-decoration: none;
  padding: 10px 50px;
  background: #00b4d4;
background-color: #90e0ef;
border: 3px solid #0077b6;
    color: #023e8a;
  border-radius: 20px;
  font-weight: bolder;
  transition: 0.5s;
  
}

li > a:hover {
  background: #caf0f8; 
  color: #0f51a7;
  border: 4px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 10px 1px silver;
}
main
{
  flex: 1;
}

main > h2
{
    margin-top: 3cm;
    background-color: #00b4d8;
    border-radius: 3cm;
    color: #023e8a;
    width: 40%;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}
h1 > img
{
    width: 30px;
    margin-top: 5px;
    margin-left: 10px;
    position: absolute;
}
article
{
    width: 80%;
    margin: auto;
    text-align: center;
}
.galery
{
  width: 100%;
  margin: auto;


}
.galery img
{
  width: 6cm;
  height: 6cm;
  border-radius: 3%;
  border: 1px solid #023e8a;
}
.box
{
  word-wrap: break-word;
  text-align: center;
  padding: 1cm 5cm 3cm 5cm;
  width: 6cm;
  height: 10cm;
  border: 2px solid #023e8a;
  border-radius: 1cm;
  float: left;
  margin: 1cm;
  background-color: #caf0f8;
  box-shadow: inset 0px 0px 30px 30px rgb(255, 255, 255);
  color: #023e8a;
  font-weight: bold;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
footer
{
  width: 100%;
  height: 1cm;
  padding-top: 0.5cm;
  text-align: center;
  background-color: #00b4d8;
  color: #023e8a;
  font-weight: bolder;
  clear: both;
  bottom: 0;

}
form 
{
border: 4px solid #023e8a;
background-color: #caf0f8;
margin: auto;
width: 10cm;
margin-bottom: 2cm;
text-align: center;
padding: 1cm;
box-shadow: 10px 10px 15px rgba(153, 153, 153, 0.5);
  border-radius: 1cm;
}
form >label
{
  font-weight: bold;
  font-family: sans-serif;
  color: #023e8a;
}
input
{

  width: 6cm;
  height: 0.7cm;
  border-radius: 20px;
  border: 3px solid #023e8a;
  text-align: center;
  background-color: #ffffff;
  color: #023e8a;
  font-weight: bolder;
}
form > button
{
  text-decoration: none;
  padding: 10px 50px;
  background: #00b4d4;
background-color: #90e0ef;
border: 3px solid #0077b6;
    color: #023e8a;
  border-radius: 20px;
  font-weight: bolder;
  transition: 0.5s;
  
}
form > button:hover {
  background: #023e8a; 
  color: #90e0ef;
  border: 4px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 10px 1px silver;
}
select
{
  padding: 0.2cm;
  background-color: #00b4d4;
  border: 2px solid #023e8a;
  border-radius: 20px;
  width: 5cm;
  text-align: center;
  font-weight: bold;
  color: white;
    font-family: sans-serif;

}



.pacjenci {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 15px auto;
  width: 90%;
}

p {
  text-align: center;
  font-family: sans-serif;
}

.formularz {
  width: 70%;

  background: #90e0ef;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.formularz h3 {
  margin: 15px 0;
  color: #0077b6;
}

.formularz label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.formularz input,
.formularz textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formularz textarea {
  min-height: 80px;
}

.formularz button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #0077b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#filter {
  display: block;  
  margin: 20px auto;
  width: 6cm;       
}
summary
{
  background-color: #90e0ef;
}
details
{
  background-color: #caf0f8;
}

 .sponsorzy {
            display: flex;
            justify-content: center; 
            align-items: center;     
            gap: 40px;              
            margin: 20px auto;
        }
        .UE {
            text-align: center;
            margin-top: 20px;
        }
        .UE img {
            width: 80%;
            background-color: #fff;
        }

        table {
  width: 90%;
  margin: 20px auto; 
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #0077b6; 
  color: white;
}

tr:nth-child(even) {
  background-color: #caf0f8; 
}

tr:hover {
  background-color: #0f51a7; 
  color: white;
}